body {
    overflow-x: hidden;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

body::-webkit-scrollbar {
    width: 6px;
    background-image: linear-gradient( -1450deg, #fead15, #ffcc00);
  }
body::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
  }

body::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
  }
/* .reveal{
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
} */
.bg{
    background-image: linear-gradient( -1450deg, #fead15, #fee715);
}
.gradient-text{
    background: -webkit-linear-gradient(-1450deg, #fee715, #fead15 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar{
    transition: 1s;
}
.nav-item{
    width: max-content;
}
.nav-item:hover a{
    border-bottom: 2px solid #fead15; 
}

#logo {
    transition: 1s;
}

.card {
    width: 200px;
    font-size: .7rem; 
    transition: 1s;
}

.card-price{
    width: 300px;
    margin-top: -50px;
    height: min-content;
}
.container-price{
    height: 400px;
    margin: 200px 0;
}
.swiper-button-prev{
    position: relative;
    left: .6%;
    top: 133px;
    width: 50px;
    height: 20px;
}
.swiper-button-next{
    position: relative;
    bottom: 151px;
    left: 95%;
    width: 50px;
    height: 20px;
}
.container-collapse-item{
    width: 65%;
    margin-top: -90px;
    height: min-content;
}
.container-collapse{
    height: 360px;

}
.container{
    overflow-x: hidden;
}

.input:focus{
    color:#212529;
    background-color:#fff;
    border-color:none;
    outline:0;
    box-shadow:none;
}



.tooltips {
    position: relative;
    display: inline-block;
  }
  
  .tooltips .tooltipstext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    font-size: .7rem;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltips .tooltipstext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltips:hover .tooltipstext {
    visibility: visible;
    opacity: 1;
  }




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .brand-shl{
        max-width:300px;
    }
    .brand-shl-about{
        max-width:300px;
    }
    .container-price{
        height: max-content;
    }
    .card-price{
        margin-bottom: 150px;
    }
    .card-price:last-of-type{
        margin-bottom: -50px;
    }
    .container-partner{
        display: flex;
        flex-wrap: wrap;
    }
    .nav-item {
        margin: 10px 0;
    }
    .swiper-container{
        margin-left: 50px !important;
    }
    .swiper-slide{
        margin-left: 150px !important;
    }
    .swiper-button-prev{
        display: none;
    }
    .swiper-button-next{
        display: none;
    }
    .container-collapse{
        height: max-content;
        padding-bottom: 200px;
    }
    .container-collapse-item{
        margin: 30px auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
    .brand-shl{
        max-width:500px;
    }
    .brand-shl-about{
        max-width:300px;
    }
    .current {
        transform: scale(1.16);
    }
    
    .nav-item {
        margin: 10px 0;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header-content {
        margin-top: 100px;
    }    
    .brand-shl{
        max-width:300px;
    }
    .brand-shl-about{
        max-width: 400px;
    }
    .swiper-button-prev{
        display: none;
    }
    .swiper-button-next{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-content {
        margin-top: 200px;
    }   
    .brand-shl{
        max-width:500px;
    }
    .brand-shl-about{
        max-width:400px;
    }
    .col figure {
        margin-top: 80px;
    }
    .swiper-button-prev{
        display: block;
    }
    .swiper-button-next{
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .brand-shl{
        max-width:500px;
    }
}
